body{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}
.header{
    height:400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #FF0060;
}
.patas {
    position:absolute;
    left:0;
    top:0;
}
.patas2 {
    position:absolute;
    left:200;
}
.imgcachorros {
    position:absolute;
    width: 40%;
    height: 500px;
    right: 50;
    top:0;
}
.wave {
   height: 300px;
   background-color: #FF0060;
   display: flex;
   align-items: flex-end;
}
.wave2 {
    height: 300px;
    background-color: #FF0060;
    display: flex;
    align-items: flex-start;
 }

.nav {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 50px;
    gap:80px;
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
}
.nav a{
    font-family: 'Comfortaa', cursive;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
    color:white;
    text-decoration: none;
    margin-right: 15px;
}
.titulocontainer{

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 75%;
    margin-top: 5%;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.titulo h1{
    font-family: 'Grandstander', cursive;
    font-size: 120px;
    color:white;
    margin: 0;
    z-index: 2;
}
.titulo p{
    font-family: 'Grandstander', cursive;
    font-size: 50px;
    color:white;
    margin: 0;
    z-index: 1;
}
.principal{
    height:auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #FBFFB1;
    flex-direction: row;
    padding: 50px;
}
.principal p{
    font-family: 'Comfortaa', cursive;
    color:black;
    font-size:20px;
    z-index: 3;
}
.principal h1{
    font-family: 'Grandstander', cursive;
    font-size: 50px;
    color:#FF0060;
    z-index: 2;
}
.linkscontainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    z-index: 3;
}
.containerloja{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
    padding: 25px;
}
.linkloja {
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
    background-color: FFE4A7;
    border-radius:33% 28% 34% 10% / 17% 30% 15% 29% ;
    padding: 60px;
}
.linkloja a{
    background-color: #FF0060;
    border-radius:33% 28% 34% 10% / 17% 30% 15% 29% ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    font-family: 'Grandstander', cursive;
    color: #FBFFB1;
    font-size:30px;
    z-index: 3;
}
.linkloja p{
    width: 80%;
    text-align: justify;
    font-size: 17px;
}

.link {
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
    background-color: FFE4A7;
    border-radius:56% 44% 66% 34% / 40% 68% 32% 60% ;
    padding: 35px 15px;
    z-index: 3;
}
.link li{
    display: flex;
    align-items: center;
    gap:5px;
    padding:10px;
}
.link p{
    font-family: 'Comfortaa', cursive;
    color:black;
    font-size:20px;
    z-index: 3;
}
.link ul{
    font-family: 'Comfortaa', cursive;
    color:blac;;
    font-size:20px;
    z-index: 3;
    list-style-type: none;
}

.link h1{
    font-family: 'Grandstander', cursive;
    font-size: 50px;
    color:#FF0060;
    z-index: 2;
}

.material-symbols-outlined {
  font-size: 35px;
  color: #FF0060;;
}


.linksanimais{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    z-index: 3;
    gap:10px;
    background-color: #FF0060;
    padding: 35px 0px ;
}
.linksanimais p{
    font-family: 'Comfortaa', cursive;
    color:black;
    font-size:18px;
    z-index: 3;
}
.linksanimais h1{
    font-family: 'Grandstander', cursive;
    font-size: 50px;
    color:#a4003f;
    text-align: center;

}

.linkcachorro {
    width: 20%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
    background-color: #e10358;
    border-radius:75% 53% 95% 25% / 61% 96% 40% 83% ;
    padding: 25px;
}
.linkcachorro img{
    max-width: 100%;
    height: auto;
    border-radius: 39% 85% 45% 69% / 74% 66% 46% 47% ;
}
.linkgato{
    width: 20%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
    background-color: #e10358;
    border-radius:88% 50% 45% 80% / 59% 61% 73% 74%  ;
    padding: 45px;
}
.linkgato img{
    max-width: 100%;
    height: auto;
    border-radius: 52% 50% 75% 50% / 59% 77% 46% 62%  ;
}
.linkcoelho{
    width: 20%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
    background-color: #e10358;
    border-radius:81% 79% 83% 80% / 78% 52% 74% 86% ;
    padding: 45px;
}
.linkcoelho img{
    max-width: 100%;
    height: auto;
    border-radius: 59% 79% 83% 80% / 77% 61% 56% 74%  ;
}

